/*------------------------------------*\ 
    #CONTENTS
/*------------------------------------*/ 
/**

*SETTINGS
**root . . . . . . . General Variables

*DIVS
**create-page-holder Holding everything in create page
**user-cr-project  . Holding all the below
**main . . . . . . . Div holding title & code
**code-container . . Div holding defualt code
**usercode-measure
**usercode-measure--textarea

*TEXT
**title  . . . . . . User project title
**create-mission . . 
**code . . . . . . . User project defualt code
**create-output  . . 
**submit-button  . . 

*TOGGLE
**advanced--toggle . 
**advanced--.--image 
**submit-button--img 

**/
/*------------------------------------*\ 
    #SETTINGS
/*------------------------------------*/ 
:root{
    --text-width: max(30%, 30rem);
    --line-height: 30px;
}

/*------------------------------------*\ 
    #DIVS
/*------------------------------------*/ 
@media (orientation: landscape) {
    #create-page-holder {
        min-width: 50%;
    }
}
@media (orientation: portrait) {
    #create-page-holder {
        width: 100%;
    }
}

.user-create-project {
    position: relative;
    width: 100%;
    height: 100%;
}

.create-main {
    --sidebar-width: 30px;

    display: flex;

    position: relative;
    flex: content;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-auto-rows: min-content;

    width: calc(100% - var(--sidebar-width));
    margin: 0rem;
    gap: 2rem;
    padding: 1rem;
    background: #222;
}

.create-code-container {
    width: 100%;
}

.usercode-measure {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.usercode-measure--textarea {
    flex-basis: 50%;
    box-sizing: border-box;
    resize: none;
}

.user-create-project--toggled-element {
    background-color: #0004;
}

.code-editor {
    display: flex;
    align-items: center;
    justify-content: center;
}

ttc-create-project-output{
    position: relative;
    display: flex;
    justify-content: center;
}

@media (orientation: landscape) {
    ttc-create-project-output{
        padding-left: 200px;
    }
}

/*------------------------------------*\ 
    #TEXT
/*------------------------------------*/ 
.create-title, .create-mission {
    width: var(--text-width);
    resize: none;
    height: 25px;
    
    text-align: center;
    text-align-last: center;
    -moz-text-align-last: center;
}

.create-title {
    font-size: 25px;
}

.create-code {
    position: relative;
    width: 100%;
    height: calc(var(--line-height) * 10);
    font-size: large;
    line-height: 30px;
}

.create-code, .create-title {
    resize: none;
}

#create-output {
    width: 50%;
}

/*------------------------------------*\ 
    #TOGGLE
/*------------------------------------*/ 
.advanced--toggle, .submit-button {
    background-color: #0000;
    border-radius: 0;
    border-style: none;
    size: 64px;

    padding-bottom: 20px;
}

.advanced--toggle--image, .submit-button--image {
    --size: 64px;

    image-rendering: pixelated;

    width: var(--size);
    height: var(--size);
}

/*------------------------------------*\ 
    #ICON
/*------------------------------------*/ 
.language-select {
    border: none;
    background: none;
}

.language-toggled-elements {
    display: flex;
}

/*NOT WORKING*/
.language-select--image-element--image, .language-select-toggle--image {
    --language-select-size: 64px;

    image-rendering: pixelated;
    width: var(--language-select-size);
    height: var(--language-select-size);
    cursor: pointer;
}

.unsupported {
    opacity: .5;
    background-color: #9114;
}