/*------------------------------------*\
    #CONTENTS
\*------------------------------------*/
/**

*SETTINGS
**root . . . . . . . Globally available variables

*GENERIC
**body . . . . . . . Sets Page Attributes
**sidebar  . . . . . (Or topbar if on mobile)
**main-content . . . Everything but Sidebar 
**canvas . . . . . . That thing that shows animations

*TOOLS
**main-font  . . . . Default pixel font
**pixel-alt  . . . . Users can use this non pixel art font
**js-screen  . . . . Hidden screen for showing js stuff
**hide . . . . . . . Hide element tool used for sign in box

*DROPDOWN
**dropdown . . . . . Dropdown in the sidebar
**list . . . . . . . Div object holding each list item
**element  . . . . . Object holding images for each option
**image  . . . . . . Image for each element
**media  . . . . . . Change to topbar when mobile
**toggle-dropdown  . Toggles dropdown menu
**image  . . . . . . Image for toggle

*DEFAULTS
**selection  . . . . Change highlight color to yellow
**scrollbar  . . . . Change defualt side scrollbar

**/

/*------------------------------------*\
    #SETTINGS
\*------------------------------------*/
:root {
    --palette-serika-1: #525146;
    --palette-serika-2: #d8d6c3;
    --palette-serika-3: #bfb716;
    --palette-serika-4: #718F94;
    --palette-serika-5: #282828;

    --z-base: 0;
    --z-sidebar: 5;
    --z-dropdown: 10;
    --z-overlay: 20;

    --space-xs: 0.25rem;
    --space-sm: 0.5rem;
    --space-md: 1rem;
    --space-lg: 2rem;

    --sidebar-width: 10rem;

    --pixel-font: 'Press Start 2P';
    --secondary-font: 'monospace'
}

/*------------------------------------*\
    #GENERIC
\*------------------------------------*/
body {
    background-color: var(--palette-serika-5);
    overflow-x: hidden; /*this gets rid of horizontal bar*/
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
	height: 100%;
	width: var(--sidebar-width);
	position: fixed;
	top: 0;
	left: 0;
	background-color: var(--palette-serika-1);
    padding-top: 20px;
	z-index: var(--z-base);
    box-shadow: 2px 0 5px rgba(0,0,0,0.5);
}

.main-content {
	margin-left: var(--sidebar-width);
	padding: 20px;
	z-index: var(--z-base);
}

canvas{
    position: absolute;
    top: 0;
    left: 0;
    width: 99.2vw;
    height: 100%;
    pointer-events: none;
    z-index: 100 !important;
    image-rendering: crisp-edges;
}

.logo img {
    width: max(6rem, 5vw);
    image-rendering: pixelated;
    margin-bottom: 20px;
}

.image-button{ /*sign-inup + learn  (in index.html)*/
    color: #0000;
    background-color: #0000;
    border-radius: 0px;
    border-color: #0000;
    cursor: pointer;
    width: 150px;
}

@media screen and (max-width: 714px) {
    .sidebar {
        width: 100%;
        height: 8rem;
        position: fixed;
        flex-direction: row;
        padding-top: 0px;
        padding-left: 20px;
    }   

    .main-content {
        margin-left: 0;
        margin-top: 8rem; /* Same as the height of the sidebar */
    }
}

/*------------------------------------*\
    #TOOLS
\*------------------------------------*/
.main-font {
    font-family: var(--pixel-font), var(--secondary-font);
    font-weight: 200;
    color: white;
    text-shadow:
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px  1px 0 #000,
        1px  1px 0 #000;
}

.pixel-alt {
    font-family: monospace;
    font-weight: 500;
    color: white;
    text-shadow:
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px  1px 0 #000,
        1px  1px 0 #000;
}

h1.pixel-alt {font-size: 3rem;}
p.pixel-alt  {font-size: 1.5rem;}


.js-screen{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: var(--z-overlay); 
}

.hide{
    display: none;
    padding: 0%;
}

/*------------------------------------*\
    #DROPDOWN
\*------------------------------------*/
.dropdown{
    background-color: #28282850;
    z-index: var(--z-dropdown);
    width: 7rem;
}

.dropdown--list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dropdown--element {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.dropdown--image { /*house logo + learn logo + etc*/
    width: 5rem;
    height: 5rem;
    image-rendering: pixelated;
}

@media screen and (max-width: 714px) { /*when screen below width, change to vertical layout*/
    .dropdown--list {
        flex-direction: row;
        width: auto;
    }

    .dropdown--element {
        padding-left: 10px;
        padding-right: 10px;
        width: auto;
    }

    .dropdown--image {
        width: 80px;
    }

    .dropdown {
        width: auto;
    }
}

/*element(s) that toggle the dropdown*/

.toggle-dropdown{
    cursor: pointer;
    z-index: var(--z-sidebar);
    position: relative;
    background: none;
    border: none; 
}

.toggle-dropdown:hover{
    filter: brightness(125%);
}

.toggle-dropdown--img {
    width: max(5rem, 4vw);
    image-rendering: pixelated;
}

/*------------------------------------*\
    #DEFAULTS
\*------------------------------------*/
::selection{
    background-color: #fbff0099;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb {
    background: rgb(171, 161, 161);
}
