/*------------------------------------*\
    #CONTENTS
\*------------------------------------*/
/*
*SETTINGS
**Root . . . . . . . Globally available variables

*GENERIC
**Body . . . . . . . Sets Page Attributes
**Sidebar  . . . . . (Or topbar if on mobile)
**Main-Content . . . Everything but Sidebar 

**/

/*------------------------------------*\
    #SETTINGS
\*------------------------------------*/
:root {
    --palette-serika-1: #525146;
    --palette-serika-2: #d8d6c3;
    --palette-serika-3: #bfb716;
    --palette-serika-4: #718F94;
    --palette-serika-5: #282828;
    --z-base: 0;
    --z-sidebar: 5;
    --z-dropdown: 10;
    --z-overlay: 20;
    --space-xs: 0.25rem;
    --space-sm: 0.5rem;
    --space-md: 1rem;
    --space-lg: 2rem;
    --sidebar-width: 10rem;
}

/*------------------------------------*\
    #GENERIC
\*------------------------------------*/
body {
    background-color: var(--palette-serika-5);
    overflow-x: hidden; /*this gets rid of horizontal bar*/
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
	height: 100%;
	width: var(--sidebar-width);
	position: fixed;
	top: 0;
	left: 0;
	background-color: var(--palette-serika-1);
    padding-top: 20px;
	z-index: var(--z-base);
    box-shadow: 2px 0 5px rgba(0,0,0,0.5);
}

.main-content {
	margin-left: var(--sidebar-width);
	padding: 20px;
	z-index: var(--z-base);
}

/*------------------------------------*\
    #TOOLS
\*------------------------------------*/
.main-font {
    font-family: 'Press Start 2P', monospace;
    font-weight: 200;
    color: white;
    text-shadow:
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px  1px 0 #000,
        1px  1px 0 #000;
}

.main-font--pixel-alternative {
    font-family: monospace;
    font-weight: 200;
    font-size: large;
    color: white;
    text-shadow:
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px  1px 0 #000,
        1px  1px 0 #000;
}

.js-screen{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: var(--z-overlay); 
}

.hide{
    display: none;
}

/*------------------------------------*\
    #DROPDOWN
\*------------------------------------*/
.dropdown--button{
    cursor: pointer;
    z-index: var(--z-sidebar);
    position: relative;
    background: none;
    border: none; 
}

.dropdown--button--img {
    width: max(5rem, 4vw);
    image-rendering: pixelated;
}

.dropdown--button:hover{
    filter: brightness(125%);
}

.dropdown{
    background-color: #28282850;
    z-index: var(--z-dropdown);
    width: 7rem;
}

.dropdown--list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dropdown--element {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.dropdown--image {
    width: 5rem;
    height: 5rem;
    image-rendering: pixelated;
}

/*------------------------------------*\
    #DEFAULTS
\*------------------------------------*/
::selection{
    background-color: #fbff0099;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb {
    background: rgb(171, 161, 161);
}



.logo img {
    width: max(6rem, 5vw);
    image-rendering: pixelated;
    margin-bottom: 20px;
}

@media screen and (max-width: 714px) {
    .sidebar {
        width: 100%;
        height: 8rem;
        position: fixed;
        flex-direction: row;
        padding-top: 0px;
        padding-left: 20px;
    }   

    .main-content {
        margin-left: 0;
        margin-top: 8rem; /* Same as the height of the sidebar */
    }

    .dropdown ul {
        flex-direction: row;
        width: auto;
    }

    .dropdown ul li {
        padding-left: 10px;
        padding-right: 10px;
        width: auto;
    }

    .dropdown ul li img {
        width: 80px;
    }

    .dropdown {
        width: auto;
    }
}



canvas{
    position: absolute;
    top: 0;
    left: 0;
    width: 99.2vw;
    height: 100%;
    pointer-events: none;
    z-index: 100 !important;
    image-rendering: crisp-edges;
}

.image-button{
    color: #0000;
    background-color: #0000;
    border-radius: 0px;
    border-color: #0000;
    cursor: pointer;
    width: 150px;
}