/*------------------------------------*\,
    #CONTENTS
\*------------------------------------*/
/**

*GENERAL
**webkit-scrollbar . scroll
**big-icon . . . . . icon images
**body . . . . . . . full background

*TOOLS
**gone . . . . . . . instantly gone no matter what
**slow-hide  . . . . slow version of gone
**lined-background . similar to codearea block

*WELCOME
**welcome  . . . . . main large text
**title  . . . . . . main title text
**subtitle . . . . . secondary text

*SIGN-IN
**si-section . . . . contains toggle and container
**sign-in  . . . . . only the container
**title  . . . . . . (sign in)
**flexbox  . . . . . 
**submit . . . . . . send to firebase button
**input  . . . . . . textbox for username
**output . . . . . . textbox for password

**/

/*------------------------------------*\
    #GENERAL
\*------------------------------------*/
:root {
    --space-1: 15vw;
    --space-2: 4rem;
    --space-3: 3rem;

	--inner-box-color: #0009;

	--welcome-z-index: 5;

	--image-size-1: 10rem;
	--image-size-2: 5rem;
}

body {
    overflow-x: hidden;
}

.big-icon{
	position: relative;
	background: none;
	width: 100%;
	image-rendering: pixelated;
}

/*------------------------------------*\
    #TOOLS
\*------------------------------------*/
.gone{
	display: none;
	padding: 0%;
}

.slow-hide{
	transition: padding 1s, size 1s;
	padding: 0%;
	size: 0%;
	width: 0px;
	height: 0px;
}

.slow-hide > * {
	display: none;
}

.lined-background {
	--line-size: min(8rem, 10vw);

 	background-image: repeating-linear-gradient(
        to bottom,
        #333333 0px,
        #333333 0px,
        #1a1a1a 1px,
        #1a1a1a var(--line-size)
    );
    background-attachment: local;
}

@property --shadow-size {
	syntax: "<length>";
	inherits: false;
	initial-value: 2px;
}

.text-shadow {
	text-shadow:
		calc(-1 * var(--shadow-size)) calc(-1 * var(--shadow-size)) 0 #000,  
		var(--shadow-size) calc(-1 * var(--shadow-size)) 0 #000,
		calc(-1 * var(--shadow-size)) var(--shadow-size) 0 #000,
		var(--shadow-size) var(--shadow-size) 0 #000;
}

/*------------------------------------*\
    #WELCOME
\*------------------------------------*/
.welcome {
	--shadow-size: 4px;

    display: flex;

	text-align: center;
	color: white;
	font-size: 2em;
	
	height: 100vh;

	z-index: var(--welcome-z-index);

	box-sizing: border-box;
}

.welcome > * {
	z-index: var(--welcome-z-index);
}

.welcome--demo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	box-sizing: border-box;
	width: max(70%, 400px);
	margin-inline: var(--space-1);

	background-color: var(--inner-box-color);
}

@media (orientation: portrait) {
	.welcome--demo {
		margin: 10%;
	}
}

.welcome--demo--input {

	--width: 50%; /*setting as a variable for extra references later on*/

	width: var(--width); 
	height: var(--line-width); 
	--line-width:100px;

}

.welcome--demo--learn {
	box-sizing: border-box;
}

.welcome--demo--learn-button {
	background-color: #0000;
	border-color: #0000;

	width: var(--image-size-1);
	height: var(--image-size-1);
}

.welcome--demo--learn-button > * { width: inherit; height: inherit; }

.welcome--demo--arrow {
	image-rendering: pixelated;
	width: 10%;
}

/*------------------------------------*\
    #SIGN IN
\*------------------------------------*/
.si-section {
	position: relative;
	display: flex;
	flex-direction: row;
}

.sign-in{
	position: relative; 
	padding-inline: .1rem;
	padding-top: 0.5em;
	padding-bottom: 0.7em;
	transition: width .3s ease-in-out, height .3s ease-in-out;
	border: rgba(0, 0, 0, 0.281);
	border-radius: 3rem;
	border-style: solid;
	background-color: #000a;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 40vw;
	height: 30vh;
}

.si-title{
	position: relative;
	left: 0%;
	font-size: 2em;
	text-align: center;
}

.si-button-flexbox{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.si-submit{
	width: 100px;
	line-height: 0.9em;
}

.si-submit,
.si-input,
.si-output {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 1.5em;
	text-align: center;
	margin: 0.5rem 0.5rem; /* uniform spacing */
	font-size: 0.8em;
	line-height: 0.9em;
}
