.welcome {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	flex-wrap: inherit;
	text-align: center;
	color: white;
	font-size: 2em;
	text-shadow:
		-4px -4px 0 #000,  
		 4px -4px 0 #000,
		-4px  4px 0 #000,
		 4px  4px 0 #000 ;

}

.welcome h1 {
	text-shadow:
		-4px -4px 0 #000,  
		 4px -4px 0 #000,
		-4px  4px 0 #000,
		 4px  4px 0 #000 ;
}

.welcome p {
	text-shadow: 
		-2px -2px 0 #000,  
		 2px -2px 0 #000,
		-2px  2px 0 #000,
		 2px  2px 0 #000 ;
}

@media (max-width: 712px) {
    #welcome {
        font-size: 1em;
    }
}

.gone{
	display: none;
}

.si-container{
	position: absolute;
	top: 0;
  	left: 0;
	transition: width .3s ease-in-out, height .3s ease-in-out;
	width: 100vw;
	height: 100vh;
	border: rgba(0, 0, 0, 0.281);
	border-radius: 100px;
	border-style: dashed;
	background-color: #000a;
}

.si-title{
	position: relative;
	left: 0%;
	text-align: center;
}

.si-submit{
	position: relative;
	left: 50%;
	text-align: center;

}

.big-icon{
	position: relative;
	background-color: #0000;
	padding: 0%;
	width: 100%;
}
