/*------------------------------------*\
    #CONTENTS
\*------------------------------------*/
/**

*SETTINGS
**root . . . . . . . Globally available variables

*TOOLS
**gone . . . . . . . When project below has been selected
**
**mini . . . . . . . When project is not selected

*PROJECT-BOX
**code-editor  . . . Holds codearea and line-numbers
**input-output . . . Parent of full codearea
**project  . . . . . Holds full project
**project-parent . . All projects

*TEXT-BOXES
**codearea . . . . . Where user types code
**line-numbers . . . Side left shows line 1 2 3 etc
**output . . . . . . codearea output

*PROJECT-INNER
**top-bar  . . . . . Holds close and redo button
**instructions . . . Text at top of project
**completed-icon . . Coin icon when user succeeds in learning
**
**close-restart  . . Div holds close and restart
**run-code . . . . . Button runs code
**next-project . . . Navigates to next project
**project-button . . Run and next
**button-img . . . . Run button image going down and up
**hint-popup . . . . Displays hint text
**hint-button  . . . Toggles hint-popup

*NO-ACTIVE 
**output . . . . . . (to be determined)

**/

/*------------------------------------*\
    #SETTINGS
\*------------------------------------*/
:root{
    --label-width: 2em;
    --code-height: 20vw;
    --code-width: 50vw;

    --flex-bg-color: #222;
    --flex-border-color: rgba(55, 58, 63, 0.589);
    --flex-highlight-border-color: rgba(15, 106, 241, 0.61);
}

/*------------------------------------*\
    #TOOLS
\*------------------------------------*/
.gone {
    max-height: 0px !important;
    flex: 0 0 0 !important;
    padding-block: 3px;
    padding-inline: 10px;
    margin: 0;
    border: 0;
    overflow: hidden;

    user-select: none;
    -moz-user-select: none;
    
}

/*------------------------------------*\
    #PROJECT-BOX
\*------------------------------------*/

#project-parent {
    display: flex;

    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project {
    height: 100%;

    background-color: var(--flex-bg-color);

    border-color: var(--flex-border-color);
    border-width: 5px;
    border-style: solid;
}

.project.gone:hover, .project.mini:hover{
    border-color: var(--flex-highlight-border-color);
}

.project.mini:not(.gone) {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) all 1s;

    padding-block: 5%;
    margin: 5px;
    min-height: 100%;
}

@media (orientation: landscape) {
    .project.mini:not(.gone) {
        min-width: calc(32% - 5px);
        max-width: 43%;
    }
}

@media (orientation: portrait) {
    .project.mini:not(.gone) {
        min-width: 45%;
        max-width: 100%;
    }
}

.project.gone:not(.mini) {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) all 1s;
    min-width: 5%;
    max-width: 30%;
    max-height: 30px;
}

.project.gone > *, .project.mini > * {
    display: none;
}

.project.gone >.project-title {
    display: block !important;

    padding: 1px;
}

@media (orientation: landscape) {
    
}

@media (orientation: portrait) {
    
}


/*------------------------------------*\
    #TEXT-BOXES
\*------------------------------------*/

.code-editor {
    display: flex;

    flex-direction: row;
}

.codearea, .line-numbers, .output, .code-highlight {
    --line-width: 30px; /*defualt value not required*/
}

.codearea, .code-highlight {
    position: relative;

    margin: 0 !important; 
    padding: 0 !important;
    padding-left: 10px !important;
    border: 0 !important;
    outline: none;
    resize: none;
    
    height: calc(var(--code-height));
    width: var(--code-width);
    min-width: 5px;
    line-height: 30px !important;
    box-sizing: border-box;
    font-size: 1rem;

    white-space: pre; 
    tab-size: 2em !important; 
    -moz-tab-size: 40px !important; 
    overflow: auto;
}

.codearea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    z-index: 1;
    -webkit-text-fill-color: #aaa3 !important;
    text-shadow: none !important;
    background-color: #0000;
    
    background-image: none;
}

.code-highlight, .code-highlight * {
    tab-size: 2em !important; 
    -moz-tab-size: 40px !important; 
    z-index: 0;
    pointer-events: none;
    padding-top: 3px !important;
}

.code-highlighting code {
    font-family: inherit;
    font-size: inherit;
    tab-size: inherit;
    line-height: inherit;
}

.line-numbers {
    --this-color: rgba(255, 255, 255, 0.667);

    text-align: center;
    justify-self: unset;
    user-select: none;
    line-height: 30px;
    height: var(--code-height);
    min-width: var(--label-width);
    overflow: hidden; /* hides scrollbar */
    box-sizing: border-box;
    padding-bottom: 5px;
    margin-right: 2px;

    color: var(--this-color);
}

.output {
    user-select: none;
    height: var(--code-height);
    width: max(30vw, 5em);
    padding-left: 10px;
    overflow-y: auto;
    box-sizing: border-box;
    white-space: pre-wrap; /* Preserve whitespace and wrap as needed */
    word-wrap: break-word; /* Break long words to fit within the container */
    font-size: large;
    line-height: 30px;
    
    resize: none;
    border: none;
}

@media (orientation: portrait) { /*when the screen is small, put output under instead of to the right*/
    .input-output {
        flex-direction: column !important;
    }
    .line-numbers {
        height: calc(var(--code-height) + 40vh);
    }
    .output {
        /*width: calc(var(--code-width) + var(--label-width)) ;*/
        margin-top: 40vh;
        width: 100%;
    }
    .codearea, .code-highlight, .single-block-grid {
        width: 100%;
        height: calc(var(--code-height) + 40vh);
    }
    .project{
        max-height: 900px;
    }
}

/*------------------------------------*\
    #PROJECT-INNER
\*------------------------------------*/
.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.instructions{
    position: relative;
    left: 0%;
    text-align: center;
    width: 100%;
}

.completed-icon {
    --size: 50px;
    position: relative;
    align-self: center;
    padding-right: 10px;
    width: var(--size);
    height: var(--size);
}

/*buttons*/
.close-restart {
    display: flex;
    flex-direction: row;
    padding-right: 10px;
}

.run-code {
    width: fit-content;
    font-size: large;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: #00000000;
    border-radius: 0%;
    background: none;
}

.next-project {
    font-size: large;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 1px;
    background-color: #00000000;
    border-color: #00000000;
    overflow-y: auto;
    box-sizing: border-box;
}

.project-button {
    border: #0000;
    background-color: #0000;
    width: 50px; 
    height: 50px;

    
	image-rendering: pixelated;
}

.run-code-button-img:active {
    border: #000000;
    background:fixed;
    transform: translateY(10px);
}

.run-code-button-img:hover:not(:active) {
    transform: translateY(-1px);
}

.hint-popup {
    /*transition: all 1s;*/
    position: relative;
    align-self: center;
    top: 0%;
    background-color: #000;
}

.project-hint-button {
    align-self: right !important;
    right: 0px !important;
}


/*------------------------------------*\
    #NO-ACTIVE
\*------------------------------------*/
.output:active, .output:focus {
    outline: none;
    border: none;
}