.pixel {
    font-family: 'Courier New', Courier, monospace;
}

.user_code {
    transition: width .5s ease-in-out;
    width: clamp(100px, 70vw, 400px);
}

.pixel-button {
    position: absolute;
    --far: calc(100% - 2em);

    clip-path: polygon(
        0em 2em, 
        2em 2em, 
        2em 0%, 
        var(--far) 0%, 
        var(--far) 2em, 
        100% 2em, 
        100%  var(--far), 
        var(--far)  var(--far), 
        var(--far) 100%, 
        2em 100%, 
        2em  var(--far), 
        0%  var(--far)
    );

    background-color: #000000;
    color: #fff;
    transition: padding .5s ease-out;
    padding: clamp(10px, 10vmin, 200px);
    pointer-events: all;
}


.pixel-button-large{
    padding: clamp(10px, 15vmin, 200px);
}

.project {
    padding-left: 0%;
}

#user-code {
    border: none;
    outline: none;
    resize: none;
    height: 100%; /* match parent height */
    width: 50vw;
    overflow-y: auto;
    box-sizing: border-box;
    font-size: large;
    line-height: 30px;

    /* Simulated lined paper background */
    background-image: repeating-linear-gradient(
        to bottom,
        #333333,            /* line color */
        #333333 1px,        /* line thickness */
        #1a1a1a 1px,        /* start of background color */
        #1a1a1a 30px        /* match the line height exactly */
    );

    background-attachment: local;
}

.line-numbers {
    
    text-align: center;
    justify-self: unset;
    user-select: none;
    line-height: 30px;
    min-width: 2em;
    height: 100%;
    overflow: hidden; /* hides scrollbar */
    box-sizing: border-box;
    
 
    background-image: repeating-linear-gradient(
        to bottom,
        #333333,
        #333333 1px,
        #1a1a1a 1px,
        #1a1a1a 30px
    );
    background-attachment: local;
}

#learn-project{
    display: flex;
    flex-direction: column;
}

.run-code {
    width: fit-content;
    font-size: large;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.code-editor {
    display: flex;
    align-items: flex-start;
    background: transparent;
    height: 50vh; /* match textarea height */
}
