:root{
    --light: #77a0aa;
    --dark: #000000;
    --palette-1: ["960200","ed9b40","2cda9d","4c5a6b","16001e"];
}

body{
    background-color: var(--light);
}

.pixel{
    font-family:'Courier New', Courier, monospace;
}

.user_code{
    width: 500px;
}
